/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}
.container-big {
    width: 100%;
}
ul {
    list-style-type: none;
}
.btn {
    background-color: #0061ff;
}
.btn a {
    text-decoration: none;
    color: white;
}
.row {
    display: flex;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* HEADER */
header .container-big {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    color: gray;
}
nav {
    min-height: 50px;
}
nav .navbar {
    position: fixed;
    z-index: 99;
}
nav .nav-content,
nav .nav-content .main-menu {
    display: flex;
    justify-content: conter;
    align-items: center;
    gap: 40px;
}
.btn-small {
    padding: 10px 15px;
}
p {
    color: grey;
}
/* Jumbotron */
 .section.big {
    background-color: #b4d0e7;
    padding-top: 80px;
}
h1 {
    font-size: 70px;
    font-family: 'Open Sans', sans-serif 
}
section .row .col1 {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
section .row .col1 p:first-child {
    margin-top: 45px;
}
.btn-medium {
    padding: 13px 15px;
}
section .row .col1 i{
    font-size: 50px;
    padding-top: 50px;
}
section .row .col2 {
    width: 70%;
}
section .row .col2 img {
    width: 100%;
    display: block;
}
section .row .col2 .header-img {
    position: relative;
    bottom: -70px;
}
